.env

# env/
/env/

*/pycache__/
/__pycache__/
*/__pycache__/
*/__pycache__/*
__pycache__/*.pyc
library/__pycache__/
users/__pycache__/
shief/__pycache__/

*/migrations/
migrations/


.git
*.pyc
.DS_Store

*.cpython-39.pyc
/__pycache__/*.pyc
/__pycache__/*.cpython-39.pyc
/*.cpython-39.pyc
*.pyc
*~
*.swp

.history

.*cache*
notes.txt

library/staticfiles/
library/settings/environments/dev.py
library/settings/environments/local.py
library/settings/environments/production.py

*/.DS_Store
*/migrations/
migrations/*

/venv/

*.sqlite3


 .DS_Store
